{# We are not using sections for now, but leaving this here in case we do in the future. #}

{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock title %}

{% block og_title %}{{ section.title }}{% endblock og_title %}

{% block description -%}
    {%- if section.description -%}
        {{ section.description }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{%- endblock description %}

{% block og_desc -%}
    {%- if section.description -%}
        {{ section.description }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{%- endblock og_desc %}
